<!-- templates/index.html.j2 -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de DevOps</title>
</head>
<body>
    <h1>DevOps - +Dev2Blu</h1>
</body>
</html>

